# Virtual environments
.venv/
.venv311/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Database
*.db

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Uploads
static/uploads/

# Environment variables
.env
